<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-77}</string>
                <key>spriteSize</key>
                <string>{278,375}</string>
                <key>spriteSourceSize</key>
                <string>{800,599}</string>
                <key>textureRect</key>
                <string>{{542,1083},{278,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,5}</string>
                <key>spriteSize</key>
                <string>{516,539}</string>
                <key>spriteSourceSize</key>
                <string>{800,599}</string>
                <key>textureRect</key>
                <string>{{1,1049},{516,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,4}</string>
                <key>spriteSize</key>
                <string>{522,539}</string>
                <key>spriteSourceSize</key>
                <string>{800,599}</string>
                <key>textureRect</key>
                <string>{{1,1},{522,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,4}</string>
                <key>spriteSize</key>
                <string>{522,539}</string>
                <key>spriteSourceSize</key>
                <string>{800,599}</string>
                <key>textureRect</key>
                <string>{{1,525},{522,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,4}</string>
                <key>spriteSize</key>
                <string>{518,539}</string>
                <key>spriteSourceSize</key>
                <string>{800,599}</string>
                <key>textureRect</key>
                <string>{{542,1},{518,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,4}</string>
                <key>spriteSize</key>
                <string>{518,539}</string>
                <key>spriteSourceSize</key>
                <string>{800,599}</string>
                <key>textureRect</key>
                <string>{{542,542},{518,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1061,1566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df123be0dd48b7166fc8eecce1d58d96:c68165fe703478ef4910f1faa398ac96:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
